.btn{
  background-color: white;
  font-weight: 700;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
box-shadow: 5px 5px 15px 5px #000000;
}

.btn:hover{
  background-color: #A7438A;
  color: white;
}

.sfondo{
  background: #A7438A;
background: -moz-linear-gradient(Sinistra, #A7438A 0%, #000000 50%, #A7438A 100%);
background: -webkit-linear-gradient(Sinistra, #A7438A 0%, #000000 50%, #A7438A 100%);
background: linear-gradient(to right, #A7438A 0%, #000000 50%, #A7438A 100%);
}
.rosa{
  width: 200px;
}

