<div class="container-fluid d-flex justify-content-around bg-black align-items-center flex-column h-100 sfondo">

  <div class="row d-flex justify-content-center flex-column align-items-center">
    <div class="rosa d-flex justify-content-center">
      <img class="rosa" src="../../../assets/rosa noborder.png" alt="">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex justify-content-center mt-5">
      <button [routerLink]="['/appointments']" type="button" class="btn align-self-center">APPUNTAMENTI</button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex justify-content-center mt-5">
      <button [routerLink]="['/quotes']" type="button" class="btn btn-white align-self-center">PREVENTIVI</button>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex justify-content-center mt-5">
      <button [routerLink]="['/home']" type="button" class="btn btn-white align-self-center homer">HOME</button>
    </div>
  </div>
</div>
